<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Dashboard</title>
    <link rel="shortcut icon" href="/image/shortcut-logo.JPG">
    <link rel="stylesheet" href="/style/seller.common.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>

<body>
    <div th:fragment="sidebar">
    <div class="sidebar">
        <div class="container">
            <div class="logo">
                <nav>
                    <img src="/image/v2-logo.png" alt="Logo" class="logo">
                </nav>
            </div>
        </div>
        <a href="#"><i class="fa-solid fa-gauge-high"></i> Dashboard</a>
        <a href="/seller/home"><i class="fa-solid fa-list-check"></i> Manage Products</a>
        <a href="/seller/order"><i class="fa-solid fa-box-open"></i> Orders</a>
        <a href="/seller/payment"><i class="fa-solid fa-indian-rupee-sign"></i> Payments</a>
        <a href="#"><i class="fa-solid fa-ranking-star"></i> Reviews</a>
        <p style="width: 100%;">
            <form action="/logout" method="post">
                <input type="hidden" name="_csrf" data-th-value="${_csrf.token}">
                <button type="submit" class="custom-button"><i class="fa-solid fa-right-from-bracket"></i> Logout</button>
            </form>
        </p>
    </div>
    </div>
</body>
</html>