<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="shortcut icon" href="/image/shortcut-logo.JPG">
    <link rel="stylesheet" href="/style/customer/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>

<body>
    <div id="container" class="container">
        <div class="row">
            <div class="col align-items-center flex-col sign-up">
                <div class="form-wrapper align-items-center">
                    <form class="form sign-up" method="post" action="/customer/sign-up">
                        <div class="input-group">
                            <i class='bx bxs-user'></i>
                            <input type="text" name="userName" placeholder="FullName" required>
                        </div>
                        <div class="input-group">
                            <i class='bx bx-mail-send'></i>
                            <input type="email" name="userEmail" placeholder="Email" required>
                        </div>
                        <div class="input-group">
                            <i class='bx bxs-phone'></i>
                            <input type="tel" id="userPhone" name="userPhone" placeholder="Phone Number" required>
                        </div>
                        <div class="input-group">
                            <i class='bx bxs-map'></i>
                            <textarea id="userAddress" name="userAddress" placeholder="Enter your address" rows="3" required></textarea>
                        </div>
                        <div class="input-group">
                            <i class='bx bxs-lock-alt'></i>
                            <input type="password" name="userPassword" placeholder="Password" required>
                        </div>
                        <div class="input-group">
                            <i class='bx bxs-lock-alt'></i>
                            <input type="password" name="cpassword" placeholder="Confirm password" required>
                        </div>
                        <input type="hidden" name="_csrf" data-th-value="${_csrf.token}">
                        <button type="submit">
                            Sign up
                        </button>
                        <p>
                            <span>Already have an account?</span>
                            <b onclick="toggle()" class="pointer">Sign in here</b>
                        </p>
                    </form>
                </div>
            </div>
            <div class="col align-items-center flex-col sign-in">
                <div class="form-wrapper align-items-center">
                    <form class="form sign-in" action="/customer/login" method="post">
                        <div class="input-group">
                            <i class='bx bxs-user'></i>
                            <input type="text" placeholder="Email" name="username" required>
                        </div>
                        <div class="input-group">
                            <i class='bx bxs-lock-alt'></i>
                            <input type="password" placeholder="Password" name="password" required>
                        </div>
                        <input type="hidden" name="_csrf" data-th-value="${_csrf.token}">
                        <button>SignIn</button>
                        <p><br>
                            <a href="#">Forget Password?</a>
                        </p>
                        <p><br>
                            <span>Don't have an account?</span>
                            <b onclick="toggle()" class="pointer">Sign up here</b>
                        </p>
                    </form>
                </div>
            </div>
        </div>
        <div class="row content-row">
            <div class="col align-items-center flex-col">
                <div class="text sign-in">
                    <h2>Welcome To Vintronics</h2>
                </div>
                <div class="img sign-in"></div>
            </div>
            <div class="col align-items-center flex-col">
                <div class="img sign-up"></div>
                <div class="text sign-up">
                    <h2>Join with us</h2>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/user.js"></script>
</body>

</html>