<!DOCTYPE html>
<html lang="en">

<head data-th-replace="~{fragment/common::head}"></head>
<body class="bg-gray-100 flex justify-center items-center h-screen">
    <header data-th-replace="~{fragment/common::header}"></header>
    <link rel="stylesheet" href="/style/customer/orderhistory.css">
    <section>
    <div class="container">
        <div id="orders-container"></div>
    </div>
</section>
    <footer data-th-replace="~{fragment/common::footer}"></footer>

    <script src="/js/orderhistory.js"></script>
</body>