<!DOCTYPE html>
<html lang="en">

<head data-th-replace="~{fragment/common::head}"></head>

<body class="bg-gray-100 flex justify-center items-center h-screen">
    <link rel="stylesheet" href="/style/customer/product.css">

    <header data-th-replace="~{fragment/common::header}"></header>

    <section class="hero">
        <div class="hero-content">
            <h1>Film, Flash, and Forever Moments!</h1>
            <button class="hero-button">Shop Now</button>
        </div>
    </section>

    <nav>
        <ul class="nav-lists">
            <div class="dropdown">
                <button>All Categories <span><i class="fa-solid fa-angle-down"></i></span></button>
                <div class="dropdown-content">
                    <a th:each="category : ${categories}"
                        th:href="@{/customer/product(category=${category.categoryId})}"
                        th:text="${category.categoryTitle}">
                    </a>
                </div>
            </div>

            <li class="nav-item"><a href="/customer/home">Home</a></li>
            <li class="nav-item"><a href="#">Exclusive Vintage Finds</a></li>
            <li class="nav-item"><a href="#">Best Sellers</a></li>
            <li class="nav-item"><a href="/customer/about">About Us</a></li>
            <li class="nav-item"><a href="#">New Releases</a></li>
            <li class="nav-item"><a href="#">Limited Edition</a></li>
            <li class="nav-item"><a href="#">Deals</a></li>
            <li class="nav-item"><a href="#">Blog</a></li>
            <li class="nav-item"><a href="#">FAQs</a></li>
        </ul>
    </nav>


    <main>
        <aside class="filters">
            <h2>Add Filters</h2>
            <input type="checkbox"> Colour <br>
            <input type="checkbox"> Price <br>
            <input type="checkbox"> Brand <br>
            <input type="checkbox"> Type <br>
            <input type="checkbox"> Discount <br>
            <input type="checkbox"> Offers <br>
            <p><strong>Price Range</strong></p>
            <input type="range" min="0" max="50000" step="1000">
        </aside>

        <div class="product-section" data-th-if="${param.search != null}">
            <article th:each="product : ${products}"
                class="products">
                <div class="img-container">
                    <img data-th-src="|/customer/image/${product.productId}|" alt="camera" style="width: 100px !important;">
                </div>
                <div class="product-info">
                    <h2 th:text="${product.productTitle}"></h2>
                    <p th:text="${product.productDescription}"></p>
                    <span class="price" th:text="|₹${product.productPrice}|"></span>
                </div>
                <div class="product-action">
                    <a data-th-href="|/customer/cart/add?productId=${product.productId}|">Add To Cart</a>
                    <br>
                    <a th:href="@{/customer/pdp/{id}(id=${product.productId})}">View Details</a>
                </div>
            </article>
        </div>
        <div class="product-section" data-th-if="${param.search == null}">
            <article th:each="product : ${category.products}" class="products">
                <div class="img-container">
                    <img data-th-src="|/customer/image/${product.productId}|" alt="camera">
                </div>
                <div class="product-info">
                    <h2 th:text="${product.productTitle}"></h2>
                    <p th:text="${product.productDescription}"></p>
                    <span class="price" th:text="|₹${product.productPrice}|"></span>
                </div>
                <div class="product-action">
                    <a data-th-href="|/customer/cart/add?productId=${product.productId}|">Add To Cart</a>
                    <br>
                    <a th:href="@{/customer/pdp/{id}(id=${product.productId})}">View Details</a>
                </div>
            </article>
        </div>
    </main>

    <div class="pagination">
        <span>Page 1 of 10</span>
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#" class="next">NEXT</a>
    </div>

    <div class="feedback">
        <p>Did you find what you were looking for?</p>
        <button>Yes</button>
        <button>No</button>
    </div>

    <footer data-th-replace="~{fragment/common::footer}"></footer>

    <script src="/js/product.js"></script>
</body>

</html>